*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: coral;
    margin: 0;
    padding: 0;
}
.main-container{
    width: 100%;
}
#info-container{
    display:none;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    align-items: center;
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    padding: 5px;
    height: 350px;
    width: 250px;
    z-index: 1;
    left: 0;
    top: 24px;
}
.map-img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    
}
.list{
    margin-left: 10%;
}
.pup-map{
    margin-left:15%; 
    margin-bottom: 100px;
    width: 100%; 
    background-color: peachpuff;
    border: 1px solid black;
    box-sizing: border-box;
}
#text-container{
    display: flex;
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#title-container{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.map-container{
    display: flex;
    
}

.img-container{
    object-fit: cover;
    
}


.cred{
    background-color: dimgray;
    width: 100%;
    text-align: center;
    color: white;
    border: 1px solid black;
    box-sizing: border-box;
}
